<div class="spinner-container">
  <div
    class="vinyl-spinner"
    [class.small]="size === 'small'"
    [class.medium]="size === 'medium'"
    [class.large]="size === 'large'"
    [class.primary]="color === 'primary'"
    [class.secondary]="color === 'secondary'"
    [class.white]="color === 'white'"
  >
    <div class="vinyl-record">
      <div class="vinyl-label">
        <div class="vinyl-hole"></div>
      </div>
    </div>
  </div>
  <p class="spinner-text" *ngIf="text" [class]="size">{{ text }}</p>
</div>
